extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Brenna Lavin

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am an upcoming Full Stack JavaScript Developer that loves to cook and bake. If I mess up a program, I will happily make a tray of cookies or a dank cake to say I'm sorry. I believe I'm a pretty hard and dilligent worker and I will work at something for hours just to get it.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li JavaScript
          li jQuery
          li CSS
          li HTML 
          li Cooking
        h6 Contact Info

        //- Add your own contact info
        ul
          li 903-279-7230
          li lavinbrenna@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/brenna-lavin-368b8737/') LinkedIn
        a.button.expanded(href='https://github.com/lavinbrenna') GitHub
        a.button.expanded(href='https://twitter.com/brenna_lavin') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  